export const jita_list = [
	{% for line in jita_list %}
	{{line}},
	{% endfor %}
];

export const amarr_list = [
	{% for line in amarr_list %}
	{{line}},
	{% endfor %}
];

export const jita_sell_list = [
	{% for line in jita_sell_list %}
	{{line}},
	{% endfor %}
];
